#contenerdorIncidente{
    background-color: #f0f0f0;
    height: calc(100vh - 220px) !important;
    border: 1px solid #000000;
    border-radius: 6px;
}

#botonVerRanking{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

#botonVerRanking a{
    height: 40px;
    width: 165px;
}

.fondoContenedor{
    height: calc(100vh - 273px) !important;
}