

<head>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<span class="container-fluid">
    <div class="row">
        <h1>Elija su categoría</h1>
    </div>
    <div class="row">
        <button class="col" onclick="location.href='http://localhost:8000/iniciarSesion?tipo=1'"> Usuario </button>
        <button class="col" onclick="location.href='http://localhost:8000/iniciarSesion?tipo=2'"> Administrador </button>
    </div>
</span>

